.header {
  padding: 50px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

body{
	color: blue;
}

h1{
	color: white;
}

p{
	color: black;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 3px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

.header {
 display: flex;
}

aside {
 flex: 1
}

article {
 flex: 4
}